body{
    background-image: url('https://wallpaperaccess.com/full/2004406.jpg');
    background-size: cover;
    background-position: center;  
}


.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
}

.note{
    font-size: 15px; 
    font-weight: bold;
    color: black;
}

.copy_right_footer{
    position: fixed;
    color: rgb(0, 0, 0);
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 190, 233);
    line-height: 3;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;

}


